.mnb-nav-container {
    text-align: center;
    background: #205374;
    height: 100%;
    width: 80px;
    overflow: hidden;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
}

.mnb-nav-link-container {
    text-align: center;
    width: 80px;
    height: 70px;
    padding: 10px 0;
    cursor: pointer;
}

.mnb-nav-link-container-active {
    background: #1a415c;
}

.mnb-nav-link-container:hover {
    background: #1a415c;
}

.mnb-nav-link-text {
    font-size: 10px;
    margin-top: 5px;
    color: #fff;
}
